.loginRoot {
    left: 0px;
    top: -20%;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    width: 400px;
    height: 300px;
    max-height: 300px;
    border: solid 2px #005ce6;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.loginRoot label {
    display: inline-block;
}

.loginRoot .inputText {
    height: 30px;
    position: relative;
    font-size: 20px;
    border-radius: 3px;
    color: #000000;
    border: solid #005ce6 2px;
    outline: none;
    padding-left: 0.5em;
}

.loginRoot .loginBtn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 黑体;
    color: white;
    outline: none;
    border: solid #ffffff 0px;
    border-radius: 5px;
    background-color: #005ce6;
}

.loginRoot .loginBtn:hover {
    background-color: #2879f1;
}

.loginRoot .loginBtn:active {
    background-color: #054fbe;
}

.loginRoot p {
    line-height: 40px;
}

.loginRoot .link {
    text-decoration: none;
    text-align: right;
}

.loginRoot h1 {
    margin: 5%;
    color: #005ce6;
}

.loginRoot .logintip {
    display: inline-block;
    width: 100%;
    margin: 2% 0% 2% 0%;
    line-height: 20px;
    text-align: left;
    user-select: none;
}

.loginRoot .logintip:first-child {
    color: red;
}