*{
    margin:0;
    padding: 0;
}

body{
    background-color: #0066ff;
    text-align: center;
    min-width: 1300px;
}

.titleLogo{
    width: max-content;
    margin: auto;
    padding: 0% 2% 2% 2%;
    border-radius: 0px 0px 10px 10px;
    font-size: 100px;
    text-align: center;
    color: rgb(0, 55, 156);
    user-select: none;
    opacity: 0.8;
    box-shadow: 0px 0px 10px #000000;
    transition: font-size 0.5s;
}

.titleLogoMin{
    font-size: 30px;
    padding: 0% 2% 1% 2%;
}

.titleLogoMin:hover{
    font-size: 100px;
    padding: 0% 2% 1% 2%;
}

@keyframes blueHome {
    from{
        background-color: #ffffff;
    }
    to{
        background-color: #0066ff;
    }
}

@keyframes yellowHome {
    from{
        background-color: #ffffff;
    }
    to{
        background-color: #ffae00;
    }
}

@keyframes bluewhiteHome {
    from{
        background-color: #0066ff;
    }
    to{
        background-color: #ffffff;
    }
}

@keyframes yellowwhiteHome {
    from{
        background-color: #ffae00;
    }
    to{
        background-color: #ffffff;
    }
}


@keyframes tipError {
    0% {
        color: red;
    }
    25% {
        top: -5px;
    }
    50% {
        top: 5px;
    }
    75% {
        top: -5px;
    }
    100% {
        color: red;
        top: 0px;
    }
}

@keyframes tipErrorRe {
    0% {
        color: red;
        top: 0px;
    }
    25% {
        color: red;
        top: -5px;
    }
    50% {
        color: red;
        top: 5px;
    }
    75% {
        color: red;
        top: -5px;
    }
    100% {
        color: red;
        top: 0px;
    }
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes hide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes menushow {
    from{
        position: relative;
        opacity: 0;
        bottom: -100px;
    }
    to{
        position: relative;
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes menuhide {
    from{
        position: relative;
        opacity: 1;
        bottom: 0px;
    }
    to{
        position: relative;
        opacity: 0;
        bottom: -100px;
    }
}